.vscode/*
run-and-bun-tracker/errorlog.txt
run-and-bun-tracker/knownworkingdir.txt
run-and-bun-tracker/osexecute-output.txt
run-and-bun-tracker/encounters.txt
run-and-bun-tracker/encounters.csv
run-and-bun-tracker/attempts/*